/* Style général pour le corps */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Style pour les titres */

a {
    color: #34638d;
}



h1, 
h3 {
	text-transform: uppercase;
	padding: 5px 0 5px 60px;
	border-radius: 10px 10px 0 0;
}

h1 {
	font-size: 1.3rem;
}



/* Conteneur principal */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-left: 25px;
	background-image: url("img/bg-contenu2.png");
    
}



header img {
    height: 73px;
}

.show_route {
    display: flex;
    list-style-type: none;
    
}

/* Barre de recherche */
#recherche_conteneur {
    display: flex;
    align-items: center;
    padding: 10px;
}

#rechercheInput {
    padding: 5px;
    margin-right: 10px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

#ok_recherche {
    background-color: gray;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Navigation */
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}


nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li:hover ul {
    display: block;
}



nav  {
	background-image: url("img/bkg_menu_demarches.jpg");
	background-size: 100% 100%;
    
}

#sfmenu,
#sfmenu > li  {
	padding-left: 0px;
	line-height: 20px;
}

#sfmenu  {
	text-align: center;
	border-right: 1px solid #e5e6e6;
}

#sfmenu > li {
	border-right: 0;
}

#sfmenu > li:hover > a,
#sfmenu > li > ul a:hover {
	color: #36a0fe;
	text-decoration: underline;
}

#sfmenu > li > ul {
	display: none;
	
	background-color: #eef3f7;
	position: absolute;
	z-index: 10;
	width: 100%;
	padding-left: 15px;
}

#sfmenu > li:hover ul {
	display: block;
}

.date{
    color: #aa3232;
}


nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    
}

nav ul ul li a {
    color: #003399;
    padding: 10px;
    display: block;
    
}

nav ul ul li  {
    text-align: left;
}

.row  {
    padding-left: 10px;
    }

/* Section principale */
section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

main {
    flex: 3;
}

main h1 {
    font-size: 24px;
    color: #003399;
}



/* Asides (astuces, actualités) */
aside {
    flex: 1;
    background-color: #f9f9f9;
    margin-left: 10px;
    
}

.contenu,
#column-droite > div {
    
	background-color: #f1f6f8;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 2px 5px -2px rgba(0,0,0,0.6);
}


.contenu ul{
    list-style: none;
}

.contenu div a  {
    color: #0275d8;
    font-weight: bold;
}
        

.contenu div{
    padding: 5px;
}



.contenu{
    display: flex;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

#column-droite {
	padding-right: 0;
}

#column-droite > div:last-child {
	margin-top: 15px;
}

#column-droite > div:first-child div,
#column-droite > div:last-child div {
	text-align: right;
	padding: 0 5px 5px 5px;
	font-weight: bold;
}

#column-droite ul {
	padding: 30px 15px;
    list-style-type:none;
}

#column-droite li a {
	color: #000;
}




aside h3 {
    color: #003399;
}

/* Footer */
footer {
    
    color: white;
    

    display: flex;
    flex-direction: column;
}



li{
    font-size: medium;
}

footer ul {
    padding: 0;
    justify-content: space-between;
}

.cube-info{
    display: flex;
    flex-direction: column;
}

.fond-bleu {
	background-color: #0e5f96;
	color: #fff;
    font-size: large;
}

.fond-rouge  {
    background-color: #aa3232;
    color: #fff;
    font-size: large;
    }

.first-child {
    background-color: #008bd3;
    display: flex;
    font-size: medium;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}



footer{
    margin-left: 10px;
    padding-bottom: 10px;
}


.first-child ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
}



.first-child ul li ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}




.second-child {
    background-color: #0e5f96;
	color: #fff;
    flex-direction: row;
    border-radius: 0px  0px 10px 10px;
    text-align: center;
    }

.second-child{
    font-size: small;
}

footer ul li {
    flex: 1;
}


footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Style pour les écrans mobiles */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .contenu{
        flex-direction: column;
    }

    #recherche_conteneur {
        width: 100%;
        
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        
    }
    nav ul {
        background-image: url("img/bkg_menu_demarches.jpg");
    }

    nav ul li ul li{
        background-color: #e5e6e6;
    }

    section {
        flex-direction: column;
    }

    aside {
        margin-top: 20px;
    }

    .first-child ul  {
        flex-direction: column;
    }
}
